<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.ethz.inf.vs.gruntzp.passthebomb.activities">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JoinActivity"
            android:label="@string/open_games"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateActivity"
            android:label="@string/game_settings"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LobbyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScoreboardActivity"
            android:label="@string/scoreboard"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service
            android:name="ch.ethz.inf.vs.gruntzp.passthebomb.Communication.MessageService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="true" />
        <service
            android:name="ch.ethz.inf.vs.gruntzp.passthebomb.gameModel.AudioService"
            android:enabled="true"
            android:stopWithTask="true" />

        <activity android:name=".HowToPlayActivity"></activity>
    </application>

</manifest>